.about{
    margin-top: 15vh;
}

/* .about-container{
    text-align: center;
}

.about-container h2{
    text-align: center;
} */

.layer{
    height: 30vh;
}

.layer-image-container img{
    width: 100%;
    height: 20vh;
}