.menu-container {
    justify-content: center;
    align-items: center;
    height: 92vh;
    background-color: #f0f0f0;
  }
  
  .menu-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: fit-content;
    margin-left: 72vh;
  }
  
  .menu-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .processed-image-container {
    margin-top: 20px;
  }
  
  .processed-image {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .no-application {
    margin-top: 20px;
    font-size: 16px;
    text-align: center;
  }
  
  .chatbot-link {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .chatbot-button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .chatbot-button:hover {
    background-color: #0056b3;
  }  